<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhóm 4</title>
    @*<link rel="stylesheet" href="/styles/layOut.css">*@
    <link rel="stylesheet" href="/styles/Layout_SP.css">
    <link rel="shortcut icon" href="~/Image/logobird.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main">
        <div id="head-link">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="/Image/logobird.png" style="width:30px;height:30px;" /></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="#"><img src="/Image/logobird.png" style="width:30px;height:30px;" /></a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                @Html.ActionLink("Trang chủ", "Index", "Home")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Sản Phẩm", "SanPham", "Home")
                            </li>
                        </ul>

                        <form class="d-flex" role="search">
                            @*<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>*@
                            
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a href="@Url.Action("GioHang" , "GioHang")"><img src="/Image/gh.png" style="width:30px;height:30px;" /> (@ViewBag.TongSoLuong)</a>
                                    @*@Html.ActionLink("Gio Hang", "GioHang", "GioHang")*@
                                    @*@Html.Action("GioHangPartial", "GioHang")*@
                                   
                                </li>
                                <li class="nav-item" style="margin-top: 10px;">
                                    @Html.ActionLink("Đăng nhập", "Index", "Login")
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="left">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-success">KIỂU SẢN PHẨM</li>
                    @*<li class="list-group-item">ÂM NHẠC</li>
                    <li class="list-group-item">CÔNG NGHỆ THÔNG TIN</li>
                    <li class="list-group-item">DANH NHÂN</li>
                    <li class="list-group-item">DU LỊCH</li>
                    <li class="list-group-item">KHOA HỌC KỸ THUẬT</li>
                    <li class="list-group-item">KHOA HỌC VẬT LÝ</li>
                    <li class="list-group-item">KHOA HỌC XÃ HỘI</li>*@
                    @Html.Action("LoaiHangPartial", "LoaiHang")
            </ul>
        </div>
        <div id="footer">
            <h5>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM</h5><br />
            <p>đường 140 Lê Trọng Tấn, Tân Phú, Thành phố Hồ Chí Minh</p>
            <p>Nhóm 4</p>
        </div>
    </div>
</body>
</html>